<h1>Elixir</h1>

<%= form_for @conn, Routes.page_path(@conn, :calculate), [class: 'optional-form', autocomplete: "off", autocorrect: "off", autocapitalize: "off"], fn f -> %>
  <p><%= text_input f, :number, [placeholder: "number"] %></p>
  <p><%= submit "Calculate" %></p>
<% end %>
